.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.episodes {
    margin-top: 5vw;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 90%;
    margin-bottom: 5rem;
}